
@import url('https://fonts.googleapis.com/css?family=Raleway:900');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600i');


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: "Josefin Slab", serif;
	font-size: 16px;
	font-style: italic;
	color: #132C6E;
}


header{
	font-family: "Raleway", sans-serif;
	background-color: #7e335e;
	color: #a9a9a9;
	padding: 0.6em;
	/*letter-spacing: 1px;*/
	/*added after adding rest.css*/
	font-size: 2em;
}

nav{
	text-align: center;
	background-color: black;
}

nav a{
	width: 20%;
	display: block;
	float: left;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.0625em;
	color: #A9A9A9;
	font:weight: 800;
	padding: 0.625em 0;
}

nav a:hover{
	background-color: #004d00;
}


main{
	text-align: center;
	color: #132C6E;
	/*background Image*/
	background: url("../Images/DanceWall.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	min-height: 100vh;
	width: 100%;
	background-position: center center;
	position: relative;	
}

h2{
	padding-top: 1em;
	font-size: 3em;
	font-family: "Raleway", sans-serif;
}

section p{
	font-weight: bold;
	font-size: 1.5em;
}

.button{
	font-weight: bold;
	font-size: 2em;
	color: black;
	border: .125em groove blue;
	background-color: #132C6E;
	margin: 0 3em ;
	padding: 0 0.25em;
	/*line-height: 12.23em;*/
	line-height: 4em;
	text-decoration: none;
}

.button:hover{
	background-color: #004d00;
}

form{
	width: 98%;
	margin: auto;
}

#register{
	font-family: "Josefin Slab", serif;
	font-size: 2em;
	color: black;
	background-color: #132C6E;
	display: inline-block;
	margin: 6em 3em 0 3em ;
	padding: 0 0.25em 0.25em 0.25em;
}

#register:hover input{
	background-color: #004d00;
	display: block;
}

#popup{
	width: 100%;
	margin: auto;
	position: fixed;
	background-color: lightgrey;
	max-width: 50em;
  	min-height: 80%;
  
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 10;
 
  	display: none;
}

#popup h1{
	font-family: "Raleway", sans-serif;
	font-size: 1.5em;
	color: #132C6E;
	margin-bottom: 1em;
}

#popup input, #popup textarea{
	font-family: "Josefin Slab", serif;
 	font-size: 1.5em;
 	color: white;
 	background-color: #132C6E;
    display: block;
/*     padding: 1%; */
    margin-bottom: 1.2%;
}

#popup h3{
	font-family: "Josefin Slab", serif;
	font-size: 1.2em;
	font-weight: bold;
}

#popup:hover input, #popup:hover textarea{
	background-color: black;
}

textarea:focus, input:focus {
  border: 0.1em solid #09c000;
}

#b1{
	font-size: 1.5em;
	display: inline-block;
	padding: .5em;
}
footer{
	clear: both;
	background-color: black;
	width: 100%;
	color: white;
	font-size: 1.2em;
	letter-spacing: 0.0625em;
}

footer p{
	display: inline;
}

footer h3{
	font-size: 1.5em;
	text-align: left;
	color: white;
	text-decoration: underline;
	font-weight: bold;
	padding-bottom: 0.625em;
	/*padding: 10px 0;*/
}

#note{
	display: block;
	float: right;
	text-decoration: none;	
	color: #004d00;	
}

footer a{
	text-decoration: none;
	color: #004d00;
}

.clearfix:after{
	display: block;
	content: " ";
	clear: both;
	font-size: 0;
	visibility: hidden;
	height: 0;
}

#mobile{
	display: none;
}

#wrapper{
	width: 100%;
}

#close{
	float: right;
	width: 1.8em;
	height: 1.8em;
	border-radius: 50%;
	border: 0.0625em solid black;
	color: black;
	cursor: pointer;
	text-align: center;
}


@media only screen and (max-width: 890px) {

	main{

		min-height: 1vw;
		background-size: 100% auto;
	}

}

@media only screen and (max-width: 750px) {

	main{

		/*min-height: 100vw;*/
		background-size: cover;
		height: 100%;
		/*background-size: 100% auto;*/
	}
	footer{
		position: absolute;
	}

}

@media only screen and (max-width: 570px) {
	nav a{
		float: none;
		width: auto;
		display: none;
		padding: .3125em 0;
	}
	#mobile{
		display: block;
	}
	nav:hover a{
		display: block;
	}
	#wrapper{
		width: auto;
		padding: 1px;
	}

	#note{
		float: none;
	}
	footer{
		text-align: center;
	}
	footer h3{
		text-align: center;
	}
	.button, #register{
		font-size: 1.5em;
	}
	h2{
		font-size: 2em;
	}


}