*{
	padding: 0;
	margin: 0;
}

body{

	font-family: "Times New Roman";
	font-size: 18px;
	font-style: italic;
	color: #132C6E;
}

header{
	padding: 20px;
	background-color: #7e335e;
	color: #a9a9a9;
	text-decoration: underline;
}
			
section nav{
	text-align: right;
	background-color: black;
	width: 100%;
	padding: 10px 0;
	line-height: 1.5;
}

nav a{
	margin-left: 15px;
	text-decoration: none;
	color: grey;
	font-weight: 600;
}


main{
	/*background image*/
	background: url("../Images/DanceWall.jpg");
	background-size: cover;
	background-repeat: no-repeat;
		/* Scaling*/
	width: 100%;
	/*Filling Background*/
	min-height: 100vh;
	/*Positioning*/
	position: fixed;
	text-align: center;
	color: #132C6E;
}

h2{
	padding-top: 16px;
	font-size: 48px;
}

main p{
	font-weight: bold;
	font-size: 20px;
}


footer{
	background-color: black;
	width: 100%;
	color: white;
	padding-bottom: 20px;
	bottom: 0;
	position: absolute;
}